<div class="container wrapper">
  <section class="comments__wrapper">
    <ng-container *ngFor="let comment of comments">
      <app-comment
        [comment]="comment"
        [currentUser]="currentUser"
        (delete)="deleteCommentHandler($event)"
        (reply)="replyCommentHandler($event)"
        (edit)="editContentHandler($event)"
      ></app-comment>
    </ng-container>
  </section>
  <section class="comment__add-block add-block">
    <div class="add-block__user-avatar">
      <img src="{{ currentUser?.image?.png }}" alt="Avatar" />
    </div>
    <textarea
      [(ngModel)]="newCommentText"
      class="add-block__comment"
      placeholder="Add a comment..."
    ></textarea>
    <button
      (click)="addNewComment()"
      class="add-block__btn"
      [disabled]="!newCommentText"
    >
      Send
    </button>
  </section>
</div>
